body {
    background-image: url("assets/images/cheesy-tropic.jpg");
    height: 1000px;

}

header {
    text-align: center;
    background-color: #282828;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

#headerTitle {
    color: green;
    -webkit-text-stroke: 1p white;
    color: red;
    text-shadow:
        3px 3px 0 black,
        2px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        5px 5px 0 black;
    font-size: 100px;
}

/* search bar image */
img {
    height: 20px;
    width: 20px;
}

button {
    border-radius: 20px;
    background-color: #d3d3d3;
}

input {
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

#calendar {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

#aDate {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;

}

#dDate {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}

#results-display {
height: 200px;
background-color: yellow;
}
