/* BACKGROUND VIDEO */
#myVideo {
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 150%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

header {
    text-align: center;
    background-color: #282828;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

#headerTitle {
    color: green;
    -webkit-text-stroke: 1p white;
    color: red;
    text-shadow:
        3px 3px 0 black,
        2px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        5px 5px 0 black;
    font-size: 100px;
}

/* search bar image */
img {
    height: 20px;
    width: 20px;
}

button {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    font-size: medium;
}

input {
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

#inputForm {
    max-width: 700px;
    margin-left: 25%;
    background-color: #d3d3d3;
    border-radius: 25px;
}

#calendar {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;

}



#aDate {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;

}

#dDate {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

/* DROP DOWN MENU */
.ui-menu {
    background-color: white;
    padding-left: 10px;
    border-radius: 25px;
    border: 1px solid #454545;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #6693BC !important;
    font-weight: bold !important;
    color: #FFFFFF !important;
    padding-left: 40px;
    border-radius: 25px;
    font-size: 20px;
}

/* Results Page */
#resultsDisplay {
    max-width: 100%;
    background-color: #d3d3d3;
    border-radius: 25px;
    text-align: center;
}


#resultsTable {
    width: 100%;
    border-radius: 25px;
    text-align: center;
}

th {
    background-color: yellow;
    font-size: 24px;
}

#yourFlightResult {
    max-width: 100%;
    background-color: #d3d3d3;
    border-radius: 25px;
    text-align: center;
    float: left;
    padding: 50px;
}

#yourFlightResult ul {
    font-weight: bold;
    font-size: 30px;
    
    
}

#yourFlightResult li {
    font-weight: bold;
    font-size: 20px;
    
    
}



#yourCurrentWeather {
    max-width: 100%;
    background-color: #d3d3d3;
    border-radius: 25px;
    text-align: center;
    float: right;
    padding: 50px;
  
}

#yourCurrentWeather ul {
    font-weight: bold;
    font-size: 30px;
    
}


#yourCurrentWeather li {
    font-weight: bold;
    font-size: 20px;
    
}


