body {
    background-image: url("assets/images/cheesy-tropic.jpg");
}

header {
    text-align: center;
    background-color: #282828;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

#headerTitle {
    color:green
    -webkit-text-stroke: 1p white;
    color: green;
    text-shadow:
        3px 3px 0 black,
        2px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        5px 5px 0 black;;
}

.container {
    margin-top: 10px;
    /* background-color: #d3d3d3; */
    width: auto;
    display: flex;
    margin-left: 40%;
    margin-bottom: 100px;

}

/* search bar image */
img {
    height: 20px;
    width: 20px;
}

button {
    border-radius: 20px;
    background-color: #d3d3d3;
}

input {
    border-radius: 10px;
    width: 30%;

}

/* Calendar */
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 10px 15px;
  width: 50%;
  background: #1abc9c;
  text-align: center;
  margin-top: 10px;
  margin: auto;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  width: 50%;
  margin: auto;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 50%;
  margin: auto;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
